{% extends 'layout.html' %}
{% block body %}

<div class="friends-wrapper col-sm-12">
	<div class="middle col-sm-8">
		{%for follow in followers%}
			<div class="friend-box col-sm-4">
				<div class="follow-pic col-sm-8">
				<img src="../static/images/{{follow[1]}}" class="img-responsive">
				</div>
				<div class="friend-name col-sm-2">
				{{follow[2]}}
				</div>
			{%if followed_id is not none %}
			
			<form class="unfollow" action="/delete_follower_page/{{follow[2]}}" method="POST">
				<div class="unfollow">
					<button type="submit" class="btn btn-default" >Unfollow</button>
				</div>
			</form>
			{%else:%}
			<form class="follow" action="/follower_page/{{follow[2]}}" method="POST">

				<div class="follow">
					<button type="submit" class="btn btn-primary" >Follow</button>
				</div>
				
			</form>
			
			{%endif%}
			</div>
		{%endfor%}
	</div>
</div>


{%endblock%}