{% extends 'layout.html' %}
{% block body %}


<div class="main-content-wrapper col-sm-12">
	<div class="left-bar-wrapper col-sm-6 ">
		<div class="left-contents col-sm-8">
			<div class="home-profile-pic col-sm-12">	
				<a href="" data-toggle="modal" data-target="#myModal"><img src="../static/images/{{profile_page_pic[0]}}" class="img-responsive"></a>


					<!-- Modal -->
					<div class="modal fade col-sm-12" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel"></h4>
					      </div>
					      <div class="modal-body ">
					        	<img src="../static/images/{{profile_page_pic[0]}}" class="img-responsive">
					     
						
					      </div>
					      <div class="modal-footer ">
					         <div class="profile-pic-comment col-sm-6">
					  <form  class="post-submit col-sm-12" id="submit-post-form" action="post_comment" method="POST">
					<textarea name="post_content" col="60" rows="6"></textarea>
					 <button type="submit" class="btn btn-primary">Comment</button>
					<input type="hidden" value="{{user_id}}">
				
				</form><!-- End of post submit -->
							 
							<!-- Beginning of Comments -->

							{% for row in profile_comment_query%}
								
							<div class="posts col-sm-8">
								<!-- User who posted profile pic -->
								<div class="profile-pic col-sm-2">
									<a href="/profile/{{row[1]}}"><img src="static/images/{{row[2]}}" class="img-responsive"></a>
								</div>
								<!-- Name of User and their Post -->
								<div class="name-post col-sm-6">
								<!-- Name of user who posted  -->
									<div class="name ">
										{{row[1]}}
									</div>

										{% if row[5]: %}
									<div class="time col-md-8 text-left">
										<!-- INSERT DATE & TIME HERE -->
									
										
											{{row[5].strftime(' %b, 
											%d %Y') }}
														
									</div>
										{% endif %}
									<!-- Post Content -->
									<div class="post-content ">
										{{row[3]}}
									</div>
								</div>
								
								<div class="votes col-sm-2">
								 	<div class="vote vote-up" post_id="{{row[0]}}">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://	www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 451.847 451.846" style="enable-background:new 0 0 451.847 451.846;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="32323" data-kw="navigate6">
											<g>
												<path style="fill:#4099ff;" d="M248.292,106.406l194.281,194.29c12.365,12.359,12.365,32.391,0,44.744c-12.354,12.354-32.391,12.354-44.744,0   L225.923,173.529L54.018,345.44c-12.36,12.354-32.395,12.354-44.748,0c-12.359-12.354-12.359-32.391,0-44.75L203.554,106.4   c6.18-6.174,14.271-9.259,22.369-9.259C234.018,97.141,242.115,100.232,248.292,106.406z"></path>
											</g>
										</svg>			
								</div>
								<div class="vote-up-down-number" up-down-id="{{row[0]}}">
									{{row[4]}}
								</div>

								<div class="vote vote-down" post_id="{{row[0]}}">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 307.053 307.053" style="enable-background:new 0 0 307.053 307.053;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="26046" data-kw="down14">
										<g id="_x34_86._Down">
											<g>
												<path style="fill:#4099ff;" d="M302.445,80.796l-11.101-11.103c-6.123-6.131-16.074-6.131-22.209,0L153.67,183.707L37.907,67.959     c-6.134-6.13-16.08-6.13-22.209,0L4.597,79.06c-6.129,6.133-6.129,16.067,0,22.201l137.83,137.829     c6.129,6.136,16.067,6.136,22.203,0l137.815-136.096C308.589,96.864,308.589,86.926,302.445,80.796z"></path>
											</g>
										</g>
									</svg>
								</div>
									<div class="error" error_id="{{row[0]}}"}></div>
								</div>

							</div> <!-- End of Posts-->
							
							{%endfor%} 
						</div> <!-- END OF COMMENTS FOR PICTURE MODAL -->
						<div class="modal-close-button">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

					      </div>
					       
					      </div>
					    </div>
					  </div>
					</div>

				<!-- END OF PICTURE MODAL -->

			</div>
			<!-- Name on Profile left bar -->
			<div class="name-profile">
				{{profile_page_name[0]}}
			</div>

			{%if followed_already is not none %}
			
			<form class="unfollow" action="/delete_follower/{{profile_page_name[0]}}" method="POST">
				<div class="unfollow">
					<button type="submit" class="btn btn-default" >Unfollow</button>
				</div>
			</form>
			{%else:%}
			<form class="follow" action="/follow_requests/{{profile_page_name[0]}}" method="POST">

				<div class="follow">
					<button type="submit" class="btn btn-primary" >Follow</button>
				</div>
				
			</form>
			
			{%endif%}
		</div> <!-- End of LEFT CONTENTS -->
	</div> <!-- End of LEFT BAR -->

	<div class="right-bar-wrapper col-sm-6">
		<div class="right-contents">
		 <!-- Beginning of Post Submit -->
			
				
				
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#post-modal">
  						Post
					</button>

			<!-- Modal -->
	<form id="submit-post-form" action="home_post_submit" method="post" accept-charset="utf-8">
    <div class="modal fade" id="post-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body col-sm-12">
                    <label></label>
                    <textarea name="post_content" class="col-sm-8" rows="10"></textarea>
                   <a> <i class="ion-ios-camera-outline"></i></a>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-toggle="">Post</button>
                </div>
            </div>
        </div>
    </div>
</form>
				
			 

			
			<!-- Beginning of POSTS -->
			{% for row in profile_page_query%}
				
			<div class="posts col-sm-12">
				<!-- User who posted profile pic -->
				<div class="profile-pic col-sm-2">
					<a href="/profile/{{row[1]}}"><img src="../static/images/{{row[2]}}" class="img-responsive">
				</div></a>
				<!-- Name of User and their Post -->
				<div class="name-post col-sm-6">
				<!-- Name of user who posted  -->
					<div class="name ">
						<a href="/profile/{{row[1]}}"> {{row[1]}}</a>
					</div>

						{% if row[5]: %}
					<div class="time col-md-8 text-left">
						<!-- INSERT DATE & TIME HERE -->
					
						
							{{row[5].strftime(' %b, 
							%d %Y') }}
										
					</div>
						{% endif %}
					<!-- Post Content -->
					<div class="post-content ">
						{{row[3]}}
					</div>
				</div>
				
				<div class="votes col-sm-2">
				 	<div class="vote vote-up" post_id="{{row[6]}}">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://	www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 451.847 451.846" style="enable-background:new 0 0 451.847 451.846;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="32323" data-kw="navigate6">
							<g>
								<path style="fill:#4099ff;" d="M248.292,106.406l194.281,194.29c12.365,12.359,12.365,32.391,0,44.744c-12.354,12.354-32.391,12.354-44.744,0   L225.923,173.529L54.018,345.44c-12.36,12.354-32.395,12.354-44.748,0c-12.359-12.354-12.359-32.391,0-44.75L203.554,106.4   c6.18-6.174,14.271-9.259,22.369-9.259C234.018,97.141,242.115,100.232,248.292,106.406z"></path>
							</g>
						</svg>			
				</div>
				<div class="vote-up-down-number" up-down-id="{{row[6]}}">
					{{row[4]}}
				</div>

				<div class="vote vote-down" post_id="{{row[6]}}">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 307.053 307.053" style="enable-background:new 0 0 307.053 307.053;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="26046" data-kw="down14">
						<g id="_x34_86._Down">
							<g>
								<path style="fill:#4099ff;" d="M302.445,80.796l-11.101-11.103c-6.123-6.131-16.074-6.131-22.209,0L153.67,183.707L37.907,67.959     c-6.134-6.13-16.08-6.13-22.209,0L4.597,79.06c-6.129,6.133-6.129,16.067,0,22.201l137.83,137.829     c6.129,6.136,16.067,6.136,22.203,0l137.815-136.096C308.589,96.864,308.589,86.926,302.445,80.796z"></path>
							</g>
						</g>
					</svg>
				</div>
					<div class="error" error_id="{{row[0]}}"}></div>
				</div>

			</div> <!-- End of Posts-->
			
			{%endfor%}
		
		</div> <!-- End of RIGHT CONTENTS -->
	</div> <!-- End of RIGHT BAR -->
</div> <!--END OF MAIN -->


{%endblock%}